.titulo-principal__numero span
  color: $color-acento-botones
.titulo-sexto
  .titulo-principal__numero
    min-width: auto
    height: auto
    span
      font-size: 1.5rem
.fw-600
  font-weight: 600
